@media (min-width: 1440px){
    header{
        grid-template-rows: 80px;
        height: 80px;
        label{
            display: none;
        }
        #first-title, .btn-main{
            grid-column: 3/4;
        }
    
    }

    .grid-columns{
        grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr ;
    }

    #navbar{
        grid-column: 4/6;
        grid-row: 1/2;
        height: 100%;
        display: block;
        background-color: $white;
        ul{
            flex-direction: row;
            height: 100%;
            li{
                text-align: right;
            };
        }
    }

    .li-navbar{
        height: 100%;
        letter-spacing: 0;
        line-height: 56px;
        a{
            font-family: $IBMPlexMono;
            font-size: 16px;
            color:  $darkBlue;
            text-decoration: none;
        }
    }
    .btn-main{
        width: 288px;
    }
}