$IBMPlexMono : 'IBM Plex Mono';
$IBMPlexSans: 'IBM Plex Sans';
$IBMPlexMonoMedium: 'IBMPlexMono-Medium';
$white: #FFFFFF;
$black: #000000;
$blue: #0000EC;
$darkBlue: #060A24;
$seaBlue: #00F3BB;
$gradientBackground: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$gradientHover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);